---
layout: layouts/base.njk
title: Home
---

<p>
  Hi there, thanks for stopping by!
  I'm Ossama Edbali, software developer at <a class="link" href="https://www.ebi.ac.uk/" target="_blank">The European Bioinformatics Institute (EMBL-EBI)</a>,
  currently based in Birmingham, UK.
</p>

<p>
  I design and build bespoke web applications and websites.
  <a class="link" href="mailto: ossedb@gmail.com">Get in touch</a> to start something great!
  For more insights on what I do check out the <a class="link" href="/work">work</a> page.
</p>

<p>
  I develop web applications, services, and APIs in <strong>Node JS</strong>, <strong>.NET</strong>, <strong>Laravel PHP</strong> for backend and
  <strong>React JS</strong> and <strong>Angular</strong> for frontend.
</p>

<section>
  <h1 class="text-2xl font-medium text-amber-800 mb-4">Recent posts</h1>
  {% set postslist = collections.post | head(4) %}
  {% include "./_includes/partials/postslist.njk" %}
  </div>
</section>
