---
layout: layouts/base.njk
title: Work
---

<h1>Work</h1>

<p>
  I currently work at <a href="https://www.ucas.com/">UCAS</a> mainly focussing on the
  <a href="https://digital.ucas.com/search">search tool</a>
  which lets you search for University courses with a variety of filters.
</p>

<p>
  Throughout the years I worked at several web agencies, acquiring
  experience in both backend and frontend web development.
</p>

<p>
  Following are some of the projects I worked on:
</p>

<div class="cards mt-4">
  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">Multi-carrier integration platform</p>
      <div class="text-sm">
        <p>
          As a intern web developer I worked on the initial
          API (Laravel PHP). The work consisted in providing a unified
          API for different carriers, therefore getting in
          touch with their respective development teams.
        </p>
      </div>
    </div>

    <a href="https://www.codemakers.co.uk/projects/shipmate/" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>

  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">CC Tutor</p>
      <div class="text-sm">
        <p>
          A compilation process visualisation platform
          providing students with the necessary
          tools to inspect the processes underlying
          a compiler frontend.
        </p>
        <p>The API has been developed in Laravel PHP and the UI in React JS.</p>
      </div>
    </div>

    <a href="https://cc-tutor.herokuapp.com/" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>

  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">Code First: Girls</p>
      <div class="text-sm">
        <p>
          As part of the "Code First: Girls" courses
          I volunteered to be an instructor.
          The course covered the basics of HTML, CSS, JavaScript,
          and version control systems.
        </p>
      </div>
    </div>

    <a href="https://www.codefirstgirls.org.uk/" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>

  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">Kamil</p>
      <div class="text-sm">
        <p>
          A dependency-free JavaScript autocomplete library.
          The library was inspired by the jQuery autocomplete
          library and the lack of (at the time) highly customisable
          dependency-free autocomplete libraries.
        </p>
      </div>
    </div>

    <a href="http://oss6.github.io/kamil/" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>

  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">paginator.js</p>
      <div class="text-sm">
        <p>
          A small and dependency-free client-side pagination library for modern browsers.
        </p>
      </div>
    </div>

    <a href="http://oss6.github.io/paginator.js/" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>

  <div class="card card--no-shadow">
    <div class="py-3 px-4">
      <p class="font-medium text-black">Sakin</p>
      <div class="text-sm">
        <p>
          A simple static site generator for blogs and personal websites
          developed in Node JS.
        </p>
      </div>
    </div>

    <a href="http://oss6.github.io/sakin" class="card--action">
      <p>More info</p>
      {% include "./_includes/partials/chevron-right.njk" %}
    </a>

  </div>
</div>
