<footer class="global-footer flex my-8">
  <a href="https://github.com/oss6" class="mr-4 no-underline">
    {% include "./github-logo.njk" %}
  </a>

  <a href="https://twitter.com/ossedb" class="mr-4 no-underline">
    {% include "./twitter-logo.njk" %}
  </a>

  <a href="https://www.instagram.com/ossamaedbali" class="no-underline">
    {% include "./instagram-logo.njk" %}
  </a>
</footer>
