---
layout: layouts/base.njk
title: Blog
---

<main>
  <div class="content-header">
    <h1 class="content-header__title">Blog</h1>
  </div>

  {% set postslist = collections.post %}
  {% include "../_includes/partials/postslist.njk" %}
</main>
