<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ossama Edbali | {{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png?v=1' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png?v=1' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png?v=1' | url }}">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/styles.css' | url }}">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>

<body>
  <svg style="position: absolute; left: 0; top: 0; z-index: -1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FED7AA56" fill-opacity="1" d="M0,288L80,272C160,256,320,224,480,218.7C640,213,800,235,960,208C1120,181,1280,107,1360,69.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
  {# <main class="p-8"> #}
  <header class="global-header">
  {% include "../partials/nav.njk" %}
  </header>

  <section class="global-content">
  {{ content | safe }}
  </section>

  {% include "../partials/footer.njk" %}
  {# </main> #}

  <script src="/index.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54085200-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-54085200-2');
  </script>
</body>

</html>
