<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ossama Edbali | {{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png?v=1' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png?v=1' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png?v=1' | url }}">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/styles.min.css' | url }}">
  {# <%- blocks.css %> #}
</head>

<body>
  <main class="p-8">
    {% include "../partials/nav.njk" %}

    {{ content | safe }}

    {% include "../partials/footer.njk" %}
  </main>

  <script src="/index.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54085200-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-54085200-2');
  </script>
</body>

</html>
