---
layout: layouts/base.njk
---

<main>
  <div class="content-header">
    <h1 class="content-header__title">{{ title }}</h1>
    <h2 class="content-header__subtitle">by {{ author }} - {{ date | formattedDate }}</h2>
  </div>

  <article>
    {{ content | safe }}
  </article>
</main>
